{% extends "base.html.twig" %}

{% block content %}

<a href={{ "/admin/dashboard" }}><button class="back">&#8617; Retour</button></a>
<section>
    <h2 class="dark_title section_title">
        Gérer {{ user.username }}
    </h2>
    
    <div class="section_container">
        <div class="form">
            <form method="post" action="" id="manage-role-form">
                <label for="last_name">Nom</label><br>
                <input type="text" value="{{ user.lastname }}" disabled="disabled" id="last_name" name="last_name" placeholder="Nom"><br>
                <label for="first_name">Prénom</label><br>
                <input type="text" value="{{ user.firstname }}" disabled="disabled" id="first_name" name="first_name" placeholder="Prénom"><br>
                <label for="username">Pseudo</label><br>
                <input type="text" value="{{ user.username }}" disabled="disabled" id="username" name="username" placeholder="Pseudo"><br>
                <label for="email">Email</label><br>
                <input type="email" value="{{ user.email }}" disabled="disabled" id="email" name="email" placeholder="Email "><br>
                <label for="createdAt">Date d'inscription</label><br>
                <input type="text" value="{{ user.createdAt }}" disabled="disabled" id="createdAt" name="createdAt" placeholder="createdAt "><br>
                <label for="present-role">Rôle actuel</label><br>
                <input type="" value="{{ user.role }}" disabled="disabled" name="present-role" id="" placeholder="Rôle actuel">
                <label for="role">Changer le rôle</label><br>
                <select name="role" id="role" form="manage-role-form">
                    <option value="user">Utilisateur</option>
                    <option value="admin">Administrateur</option>
                </select>
                <br>
                
                <button class="button-form edit" type="submit">Modifier le rôle</button>
            </form>
        </div>
    </div>


</section>

{% endblock %}