<header class="header">
    <!--LOGO-->
    <div class='logo-container'>
        <a href="https://github.com/jupanaos"><img class="header_logo" src="logo.png" alt="logo"></a>
    </div>

    <!--HAMBURGER ICON-->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

    <!--MENU-->
    <nav class="nav">
        <ul class="menu">
            <li><a href="/">Accueil</a></li>
            <li><a href="{{ "/?p=blog" }}">Le blog</a></li>
            <li><a href="{{ "/?p=contact" }}">Contact</a></li>
            {% if session.logged == false %}
                <li><a href="{{ "/?p=account" }}">Connexion</a></li>
                    {# <li><a href="{{ "/?p=admin/dashboard" }}">Administration</a></li> #}
            {% else %}
            <li><a href="{{ "/?p=account/logout" }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>