{% extends "base.html.twig" %}

{% block content %}

<h2 class="dark_title section_title">
    Administration
</h2>

<section class="crud-page">
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'articles')">Articles</button>
        <button class="tablinks" onclick="openTab(event, 'users')">Utilisateurs</button>
        <button class="tablinks" onclick="openTab(event, 'comments')">Commentaires</button>
    </div>
    
    <!-- Tab content -->
    <div id="articles" class="tabcontent">
        <table class="table-crud--articles">
            <tbody>
            <a href="{{ "/?p=admin/articles/add" }}"><button class="create">+ Ajouter</button></a>
                <tr class="table_headers">
                    <th align="left">Article</th>
                    <th align="left">Date</th>
                    <th align="left">Statut</th>
                    <th align="left"></th>
                </tr>
                {% for article in articles %}
                <tr>
                    <td>
                        {{ article.title }}
                    </td>
                    <td>
                        Publié le {{ article.createdAt|date('d/m/Y à H:i') }}
                    </td>
                    <td>
                        <span>{{ article.status }}</span>
                    </td>
                    <td align="right">
                        <a href="/?p=admin/articles/{{article.slug}}/delete/"><button class="button-form delete">Supprimer</button></a>
                        <a href="/?p=admin/articles/{{article.id}}/edit/"><button class="button-form edit">Modifier</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="users" class="tabcontent">
        <table class="table-crud--users">
            <tbody>
                <tr class="table_headers">
                    <th align="left">Pseudo</th>
                    <th align="left">Email</th>
                    <th align="left">Role</th>
                    <th align="left">Date de création</th>
                    <th align="left"></th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        <span>{{ user.role }}</span>
                    </td>
                    <td>
                        {{ user.createdAt|date('d/m/Y à H:i') }}
                    </td>
                    <td align="right">
                        <a href="/?p=admin/users/{{user.id}}/delete/"><button class="button-form delete" type="submit">Supprimer</button></a>
                        <a href="/?p=admin/users/{{user.id}}/manage/"><button class="button-form edit">Gérer</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="comments" class="tabcontent">
        <table class="table-crud--comments">
            <tbody>
                <tr class="table_headers">
                    <th align="left">Contenu</th>
                    <th align="left">Article</th>
                    <th align="left">Statut</th>
                    <th align="left">Date</th>
                    <th align="left"></th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td>
                        {{ comment.content }}
                    </td>
                    <td>
                        {{ comment.article.title }}
                    </td>
                    <td>
                        <span>{{ comment.status }}</span>
                    </td>
                    <td>
                        <span>{{ comment.createdAt|date('d/m/Y à H:i') }}</span>
                    </td>
                    <td align="right">
                        <button class="button-form create">Publier</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}