{% extends "base.html.twig" %}

{% block content %}

<a href={{ "/?p=blog" }}><p>&#8617; Retour</p></a>
    <section class="light-bg">
        <h2 class="light_title section_title blog">
            Blog
        </h2>
        <h3 class="text-centered blog">
            <br>{{ article.title }}
        </h3>
        <div class="section_container blog">
            <div class="section_image_container blog">
                <img class="section_image" src="uploads/{{ article.picture }}.jpeg" alt="{{ article.title }} illustration">
            </div>
            <div class="section_content_container blog">
                <p class="text-centered blog"><i>{{ article.createdAt|date('d/m/Y à H:i') }} par <span class="text__highlight"> {{ article.author.username }}</span></i>
                </p>
                <p class="text-centered blog">{{ article.content }}
                </p>
            </div> 
        </div>
        
    </section>
    <section>
        <h2 class="dark_title section_title">
            Commentaires
        </h2>
        {% if session.logged == false %}
        <div class="section_container">
            <p>Vous devez vous <a href="/?p=account/login">connecter</a> ou <a href="/?p=account/register">créer un compte</a> pour laisser un commentaire !</p>
        </div>
        {% else %}
        <div class="section_container">
            <div class="form">
                <form method="post" action="?p=blog/article/{{ article.id }}/add-comment" id="comment-form">
                    <label for="comment">Laisser un commentaire en tant que <span class="text__highlight-colored"><a href="?p=account/dashboard">{{ session.user.username }}</a></span></label><br>
                    <textarea name="content" id="content" cols="100" rows="10"></textarea><br>
                    <a href="?p=blog/article/{{ article.id }}/add-comment"><button class="button-form" type="submit">Commenter</button></a>
                </form>
            </div>
        </div>
        {% endif %}

        <div class="comments__container">
                {% for comment in article.comments %}
                    {% if comment.status == 'Published' %}
                        <div class="comments__container-wrapper">
                            <div class="comments__container-header">
                                Publié par <span class="text__highlight">{{ comment.author.username }}</span> le {{ comment.createdAt|date('d/m/Y à H:i') }} 
                            </div>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>

    </section>

{% endblock content %}