{% extends "base.html.twig" %}

{% block content %}

<h2 class="dark_title section_title">
    Bienvenue {{ session.user.username }} !
</h2>

<section class="crud-page">
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'infos')" id="defaultOpen">Mes informations</button>
        <button class="tablinks" onclick="openTab(event, 'password')">Mon mot de passe</button>
        <button class="tablinks" onclick="openTab(event, 'comments')">Mes derniers commentaires</button>
    </div>
    
    <!-- Tab content -->
    <div id="infos" class="tabcontent">
        <div class="section_container">
            <div class="form register">
                <form method="post" action="?p=account/{{session.user.id}}/update-informations" id="register-form">
                    <label for="last_name">Nom</label><br>
                    <input type="text" value="{{ session.user.lastname }}" id="last_name" name="last_name" placeholder="Nom"><br>
                    <label for="first_name">Prénom</label><br>
                    <input type="text" value="{{ session.user.firstname }}" id="first_name" name="first_name" placeholder="Prénom"><br>
                    <label for="username">Pseudo</label><br>
                    <input type="text" value="{{ session.user.username }}" id="username" name="username" placeholder="Pseudo"><br>
                    <label for="email">Email</label><br>
                    <input type="email" value="{{ session.user.email }}" id="email" name="email" placeholder="Email "><br>
                    <br>
                    <a href="?p=account/{{session.user.id}}/update-informations"><button class="button-form edit" type="submit">Modifier mes informations</button></a>
                    
                </form>
            </div>
        </div>
    </div>

    <div id="password" class="tabcontent">
        <div class="section_container">
            <div class="form register">
                <form method="post" action="?p=account/{{session.user.id}}/password-reset" id="edit-password">
                    <label for="old-password">Mot de passe actuel</label><br>
                    <input type="password" name="old-password" id="old-password" placeholder="Mot de passe actuel">
                    <label for="new-password">Nouveau mot de passe</label><br>
                    <input type="password" name="new-password" id="new-password" placeholder="Nouveau mot de passe">
                    <label for="new-password-confirm">Confirmer le nouveau mot de passe</label><br>
                    <input type="password" name="new-password-confirm" id="new-password-confirm" placeholder="Confirmer le nouveau mot de passe">
                    <br>
                    <a href="?p=account/{{session.user.id}}/password-reset"><button class="button-form edit" type="submit">Changer mon mot de passe</button></a>
                </form>
            </div>
        </div>
    </div>

    <div id="comments" class="tabcontent">
        <table class="table-crud--comments">
            <tbody>
                <tr class="table_headers">
                    <th align="left">Contenu</th>
                    <th align="left">Article</th>
                    <th align="left">Date</th>
                    <th align="left"></th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td>
                        {{ comment.content }}
                    </td>
                    <td>
                        {{ comment.articleId }}
                    </td>
                    <td>
                        <span>{{ comment.createdAt|date('d/m/Y à H:i') }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</section>

{% endblock %}