{% extends "base.html.twig" %}

{% block content %}

    <!-- Hero -->
    <div class="hero_image">
        <div class="hero_text">
        <h1 class="hero_text_title">JULIE PARIONA OSCO</h1>
        <h3 class="hero_text_title">Développeuse web junior</h3>
        <p class="hero_text_title">Paris, France</p>
        <a href="assets/img/CV-JPARIONA-DEV-2022.pdf"><button>Mon CV</button></a>
        </div>
    </div> 

        <!-- Main content -->
    <main>
        <section class="articles">
            <h2>Derniers articles</h2>
            <div class="articles__wrapper">
                {% for article in articles %}
                    {% if loop.first or loop.index == 2 %}
                        <div class="{{ loop.first ? ' articles__wrapper--main' : 'articles__wrapper--secondary' }}">
                    {% endif %}

                    <a href="{{ "/?p=blog/article/"~article.id }}">
                        <article class="article{{ loop.first ? ' article--main' : '' }}">
                            <div class="article__image">
                                <img src="{{ article.picture }}" alt="{{ article.title }} illustration">
                            </div>
                            <div class="article__content">
                                <div class="article__date">{{ article.createdAt|date('d/m/Y à H:i') }}</div>
                                <h3 class="article__title">{{ article.title|length > 30 ? article.title|slice(0, 30) ~ '...' : article.title }}</h3>
                            </div>
                        </article>
                    </a>

                    {% if loop.first or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="{{ "/?p=blog" }}">
            <button type="button">Tout le blog</button>
            </a>
        </section>

    </main>
    

{% endblock content %}