{% extends "base.html.twig" %}
{% block title %}Editer un article - Administration du site{% endblock %}

{% block content %}

<a href={{ "/?p=admin/dashboard" }}><button class="back">&#8617; Retour</button></a>
<section>
    <h2 class="dark_title section_title">
        Editer un article
    </h2>

    <div class="section_container">
        <div class="form">
            <form method="post" action="" id="edit-article-form">
                <label for="title">Titre</label><br>
                <input type="text" value="{{ article.title }}" id="title" name="title" placeholder="Titre"><br>
                <br>
                <label for="content">Texte</label><br>
                <textarea name="content" id="" cols="100" rows="40">{{ article.content }}</textarea>
                <br>
                <label for="picture">Image</label><br>
                <small>
                    <img src="{{ article.picture }}">
                </small>
                <input type="file" name="picture" accept="image/*" required />
                <br>
                <label for="status">Statut</label><br>
                <select name="status" id="status" form="edit-article-form">
                <option value="">--Choisir une action--</option>
                    <option value="Pending">Sauvegarder</option>
                    <option value="Published">Publier</option>
                </select>
                <a href="{{ "/?p=admin/dashboard" }}"><button class="button-form white-btn" type="submit">Modifier</button></a>
            </form>
        </div>
    </div>
</section>


{% endblock %}